<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form (ngSubmit)="encrypt(form.value)" #form="ngForm" autocomplete="off">
  <div>
    <label for="inputText">Input Text (English lowercase only):</label>
    <input type="text" [(ngModel)]="inputText" name="inputText" id="inputText" pattern="[a-z]" placeholder="Input Text...">
  </div>
  <div>
    <label for="shift">Shift (0-26):</label>
    <input type="number" [(ngModel)]="shift" name="shift" id="shift" placeholder="Shift..." min="0" max="26">
  </div>
  <button type="submit">Encrypt</button>
  <div>
    <label for="outputText">Output Text:</label>
    <input type="text" [(ngModel)]="outputText" name="outputText" id="outputText" placeholder="Output Text...">
  </div>
</form>

<router-outlet></router-outlet>
