<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="col-md-4">
  <form (ngSubmit)="encrypt(form.value)" #form="ngForm" autocomplete="off">
    <div class="form-group">
      <label for="inputText">Input Text (English lowercase only):</label>
      <input type="text" class="form-control" [(ngModel)]="inputText" name="inputText" id="inputText" pattern="[a-z]" placeholder="Input Text...">
    </div>
    <div class="form-group">
      <label for="shift">Shift (0-26):</label>
      <input type="number" class="form-control" [(ngModel)]="shift" name="shift" id="shift" placeholder="Shift..." min="0" max="26">
    </div>
    <button type="submit" class="btn btn-primary form-group">Encrypt</button>
    <div class="form-group">
      <label for="outputText">Output Text:</label>
      <input type="text" class="form-control" [(ngModel)]="outputText" name="outputText" id="outputText" placeholder="Output Text...">
    </div>
  </form>
</div>

<router-outlet></router-outlet>
